[submodule "ezUI/vendor/glfw"]
	path = ez/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ezUI/vendor/glm"]
	path = ez/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "ezUI/vendor/stb/stb"]
	path = ez/vendor/stb/stb
	url = https://github.com/nothings/stb.git
